/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Alinea los elementos alrededor del logo y el menú */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 60px;
    border-radius: 40px;
    margin-right: 20px; /* Agregado para crear espacio entre el logo y el menú */
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    font-size: 16px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffca47;
}


.logo img {
    height: 60px;
    border-radius: 40px;
}

.menu-icon {
    display: none; /* Oculta el icono en pantallas grandes por defecto */
    font-size: 24px;
    cursor: pointer;
    order: 1; /* Cambia el orden para que el icono aparezca después del logo en la versión responsive */
}

.menu-button {
    display: none; /* Oculta el botón de menú en pantallas grandes por defecto */
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.mobile-menu {
    display: none; /* Oculta el menú desplegable en pantallas grandes por defecto */
    flex-direction: column;
    position: absolute;
    top: 80px; /* Ajusta la posición del menú desplegable */
    right: 20px; /* Alinea el menú a la derecha del encabezado */
    background-color: #007acc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Ajusta el índice z para que aparezca sobre otros elementos */
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los elementos a la derecha en la versión responsive */
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin: 5px 0;
}

.menu-button.active + .mobile-menu {
    display: flex;
}

/* ... (otros estilos) */

@media only screen and (max-width: 768px) {
    /* Mostrar el icono del menú en pantallas pequeñas */
    .menu-icon {
        display: block;
    }

    /* Ocultar el menú en pantallas pequeñas */
    .menu {
        display: none;
    }

    /* Mostrar el menú desplegable en versión responsive */
    .mobile-menu {
        display: none;
    }

    /* Mostrar el botón de menú en pantallas pequeñas */
    .menu-button {
        display: block;
    }

    /* Mostrar el botón de menú activo en versión responsive */
    .menu-button.active + .mobile-menu {
        display: flex;
    }
}

/* Banner Principal */
.banner {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgba(0, 122, 204, 0.8), rgba(0, 122, 204, 0.8)), url('tu-imagen.jpg') center/cover no-repeat; /* Fondo con degradado y tu imagen */
    color: #fff; /* Texto en color blanco para contrastar con el fondo */
}

.banner h1 {
    font-size: 48px; /* Tamaño de fuente aumentado para destacar */
    margin-bottom: 20px;
    font-weight: bold; /* Texto en negrita */
    letter-spacing: 2px; /* Espaciado entre letras */
}

.slogan {
    font-size: 24px; /* Tamaño de fuente aumentado */
    color: #ffca47;
    margin-bottom: 30px;
    font-style: italic; /* Estilo de fuente itálica */
}


/* Sección de Servicios, Proyectos, Sobre Nosotros y Contacto - Personaliza según tus necesidades */

/* Pie de Página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #ffca47;
}

/* Estilos mejorados para la Sección de Servicios */
.services {
    background-color: #f9f9f9; /* Fondo más claro */
    padding: 80px 0; /* Más espacio en la parte superior e inferior */
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centrar los elementos */
    max-width: 1200px;
    margin: 0 auto;
}

.services h2 {
    font-size: 36px; /* Tamaño de fuente más grande */
    margin-bottom: 40px; /* Mayor espacio inferior */
    color: #333; /* Color de texto más oscuro */
    text-align: center; /* Centrar el texto */
}

.service {
    flex: 0 0 calc(30% - 20px); /* Reducción del espacio entre los servicios */
    margin-bottom: 40px; /* Mayor espacio inferior entre servicios */
    padding: 30px;
    background-color: #fff;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    transition: transform 0.3s ease-in-out; /* Transición suave al pasar el ratón */
}

.service:hover {
    transform: scale(1.05); /* Escala ligeramente al pasar el ratón */
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes más redondeados para las imágenes */
}

.service h3 {
    font-size: 24px; /* Tamaño de fuente más grande */
    margin-top: 20px; /* Mayor espacio superior */
    color: #007acc; /* Color de texto más llamativo */
    text-align: center; /* Centrar el texto */
}

.service p {
    font-size: 16px; /* Tamaño de fuente para el texto */
    color: #555; /* Color de texto más oscuro */
    line-height: 1.6; /* Altura de línea para una mejor legibilidad */
}

.cta-button {
    background-color: #ffca47;
    color: #007acc;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; /* Cambiado a en línea para evitar márgenes adicionales */
    margin-left: 20px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffc700;
}

/* Estilos para la Sección de Proyectos Destacados */
.projects {
    background-color: #007acc;
    color: #007acc;
    padding: 80px 0;
}

.projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.projects h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #f4f4f4;
}

.project {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project h3 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.project p {
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
}


/* Estilos para la Sección "Sobre Nosotros" */
.about {
    background-color: #f4f4f4;
    color: #333;
    padding: 80px 0;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.about h3 {
    font-size: 24px;
    margin: 30px 0 20px;
}

/* Estilos para la Sección de Testimonios */
.testimonials {
    background-color: #007acc;
    color: #fff;
    padding: 80px 0;
}

.testimonials .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.testimonials h2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.testimonial {
    text-align: center;
    margin-bottom: 40px;
}

.testimonial p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonial cite {
    font-size: 16px;
    font-style: normal;
    color: #ffca47;
    display: block;
}


/* Otros ajustes de estilo según necesidades */

/* Estilos para la Sección de Contacto */
.contact {
    background-color: #007acc;
    color: #fff;
    padding: 50px 0;
}

.contact .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form button {
    background-color: #ffca47;
    color: #007acc;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ffc700;
}

/* Estilos para la Sección de Ventajas */
.advantages {
    background-color: #fff;
    padding: 80px 0; /* Aumenté el padding para mayor separación */
}

.advantages .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.advantages h2 {
    font-size: 36px; /* Tamaño de fuente aumentado */
    margin-bottom: 30px; /* Mayor espacio después del título */
    text-align: center; /* Centrar el texto */
    color: #007acc; /* Color azul para destacar */
}

.advantage {
    flex: 0 0 calc(30% - 20px); /* Ajusté el ancho de cada ventaja */
    margin-bottom: 30px; /* Mayor espacio entre las ventajas */
    padding: 30px; /* Aumenté el padding para mayor espacio interno */
    background-color: #f5f5f5; /* Fondo más claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    transition: transform 0.3s ease-in-out; /* Agregué una transición al hacer hover */
}

.advantage:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}

.advantage img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

.advantage h3 {
    font-size: 24px; /* Tamaño de fuente aumentado */
    margin-top: 20px; /* Mayor espacio arriba del título */
    color: #007acc; /* Color azul para destacar */
}

.advantage p {
    font-size: 18px; /* Tamaño de fuente aumentado */
    line-height: 1.6; /* Mayor espacio entre líneas */
    color: #555; /* Color de texto más oscuro */
}

/* Agregué estilos para las nuevas ventajas */
.advantage:nth-child(4),
.advantage:nth-child(5) {
    background-color: #fff; /* Fondo blanco para destacar */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.advantage:nth-child(4) img {
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

.advantage:nth-child(5) img {
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

/* Estilos específicos para las nuevas ventajas */
.advantage:nth-child(4) h3,
.advantage:nth-child(5) h3 {
    color: #ffca47; /* Color amarillo para destacar */
}
/* Estilos para la Sección de Contador de Ahorro */
.savings-counter {
    background-color: #007acc;
    color: #fff;
    padding: 80px 0; /* Aumenté el padding para mayor presencia */
}

.savings-counter .container {
    text-align: center; /* Centrar el contenido */
}

.savings-counter h2 {
    font-size: 36px; /* Tamaño de fuente aumentado */
    margin-bottom: 30px; /* Mayor espacio después del título */
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#savings-count {
    font-size: 48px; /* Tamaño de fuente aumentado */
    font-weight: bold; /* Texto en negrita para mayor impacto */
    margin-right: 10px; /* Espacio entre el número y el texto */
}

.counter p {
    font-size: 20px; /* Tamaño de fuente aumentado */
    margin-left: 10px; /* Espacio entre el número y el texto */
}

/* Efecto de animación para el contador */
@keyframes count-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#savings-count,
.counter p {
    animation: count-up 1s ease-out; /* Agregué una animación al contador */
}
/* Estilos para la Sección de Casos de Estudio */
.case-studies {
    background-color: #f4f4f4; /* Color de fondo ajustado */
    padding: 80px 0; /* Aumenté el padding para mayor presencia */
}

.case-studies .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.case-studies h2 {
    font-size: 36px; /* Tamaño de fuente aumentado */
    margin-bottom: 30px; /* Mayor espacio después del título */
    text-align: center; /* Centrar el texto */
}

.case-study {
    flex: 0 0 calc(100% - 20px); /* Ocupa el ancho completo en pantallas pequeñas */
    margin-bottom: 40px; /* Mayor espacio entre los casos de estudio */
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Evitar bordes sobresalientes de las imágenes */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Efecto de transición al hacer hover */
}

.case-study:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}

.case-study img {
    max-width: 100%;
    height: auto;
    border-bottom: 2px solid #007acc; /* Línea divisoria debajo de la imagen */
}

.case-study h3 {
    font-size: 24px; /* Tamaño de fuente aumentado */
    margin: 20px 0; /* Mayor espacio entre el título y el párrafo */
    text-align: center; /* Centrar el texto */
}

.case-study p {
    font-size: 16px; /* Tamaño de fuente ajustado */
    text-align: center; /* Centrar el texto */
}


/* Estilos para la Sección del Blog */
.blog-section {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.blog-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.blog-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Estilos para la Sección de Preguntas Frecuentes */
.faq-section {
    background-color: #fff;
    padding: 50px 0;
}

.faq-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.faq-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.faq {
    margin-bottom: 20px;
}

.faq h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.faq p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* Estilos para el Botón de WhatsApp Flotante */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button a {
    display: inline-block;
    background-color: #25d366;
    border-radius: 60%;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.whatsapp-button img {
    width: 50px; /* Ajusta el tamaño del icono según tus preferencias */
    height: auto;
}

.whatsapp-button a:hover {
    background-color: #128c7e;
}